
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: poppins;
}
body{
	font-family: poppins;
}
/*----------------top--------*/
.world{
	position: sticky;
	top: 0;
    right: 0;
    max-width: 100%;
	background-color: white;
}
.navbar-style{box-shadow:0 5px 10px #efefef;

}

#logo{
	height: 60px;width: 60px;
}

#log{display: flex;font-family: POPPINS;
	
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    text-align: initial;
    height: auto;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    position: relative;
    bottom: auto;
    top: auto;
    width: auto;
    cursor: pointer;
    opacity: 1;
    transform: none;
    padding: 0rem;
    margin: 0px;
    overflow: initial;
    background: none;
}


/*---------------footer--------------*/
.foot{
	background-color: #fafafa !important;
	padding-bottom: 100px;
}
.content{
	margin: 10px;padding: 10px;font-size: 18px;font-family: poppins; color:  #989898;
}
.listing {
	list-style: none;
	line-height: 30px;
	margin-top: 72px;
}

.listing li a{
	color: #989898;
	text-decoration: none;
}


.social{
	margin-top: 10px;
	letter-spacing: 4px;
}

ul li a:hover{
	color:  rgb(0, 174, 239)!important;}

	summary:hover{
		color: #00d09f;!important;
	}

	summary p{
		
	}