@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: poppins;
}
body{
	font-family: poppins;
}
.world{
	position: static;top: 0;background: white;width: 100%;
}
.navbar-style{box-shadow:0 5px 10px #efefef;

}

#logo{
	height: 60px;width: 60px;
}
#log{display: flex;font-family: POPPINS;
	
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    text-align: initial;
    height: auto;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    position: relative;
    bottom: auto;
    top: auto;
    width: auto;
    cursor: pointer;
    opacity: 1;
    transform: none;
    padding: 0rem;
    margin: 0px;
    overflow: initial;
    background: none;
}

.search_in input {
	border: 1px;outline: none; background-color: grey;
	width: 430px;
	height:40px;
}
input[type=text] {
  width: 430px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('images/logo.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-color: grey;
}

input[type=text]:focus {
  width: 430px;
}


@media only screen and (max-width: 768px) {
  .baba{
    display: none;
  }

}

@media screen and (min-width: 1200px) {
        .search_sm {
         display: none;
        }
      }



@media only screen and (min-width: 600px) {
  #okja{
         display: none;
         visibility: hidden;}
}


#dd:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);